.TTTPageWrapper {
  background-color: white;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 254, 254, 0.76);
}

.tic-tac-toe_fieldWrapper {
  padding-top: -16px;
  display: flex;
  margin: 0 auto;
  width: 491px;
  height: 491px;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 153px;
  height: 153px;
  background-color: #D8D8D8;
  font-family: Helvetica;
  color: #000000;
  font-weight: 400px;
  font-size: 96px;
}