.WinWrapper {
  margin: auto;
  position: absolute;
  top: 0px; left: 0; bottom: 0; right: 0;
  width: 300px;
  height: fit-content;
  text-align: center ;
}

.text_box {
  font-family: Helvetica;
  color: #000000;
  font-weight: 400px;
  font-size: 48px;
  font-style: normal;
  text-decoration: none;
}

.playAgainBtn {
  margin: 33px 0 10px 0;
  width: 175px;
  height: 36px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

