.app {
  background: #209cee;
  height: 100vh;
  padding: 30px;
}



.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
  margin: 15px;
}

.todo {
  position: relative;
  align-items: center;
  background: rgb(238, 240, 140);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}


.strike {
  position: relative;
}

@keyframes strike{
  0%     { transform-origin:  0% 50%;transform:scaleX(0); }
  100%   { transform-origin:0 50%;transform:scaleX(1);  }
}

.strike:after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: red;
  animation: strike .5s ease-in-out forwards;
}