.mobileMenu {
  background-color: rgb(82, 72, 72);
  max-width: 620px;
  padding: 10px;
  min-height: 25px;
}

.mobileMenu button{
  height: 25px;
  width: 60px;
  color: white;
  background-color: black;
  border-radius: 4px;
  border: none;
  float: right;
}

.mobileMenu img {
  height: 8px;
}

@media (min-width: 680px){
  .mobileMenu {
    display: none;
  }
}

.mobileMenu ul {
  margin-top: 30px;
  list-style: none;
  padding: 0;
}

.mobileMenu a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 25px;
  padding: 7px;
  text-decoration: none;
  color: white;
  font-size: x-small;
  border-radius: 5px;
}

.mobileMenu a:hover {
  background-color: rgb(116, 101, 101);
}