code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(226, 226, 226); 
}

header {
  padding: 20px 15px 20px 15px;
  background-color: white;
}

.headerContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 90px;
  color: rgb(250, 41, 41);
  font-size: large;
}

@media (max-width: 680px){
  .links {
    display: none;
  }
  header {
    padding: 20px 10px 0px 10px;
  }
}

.headersIconsRight {
  width: 90px;
  
}

.dataPicker {
  width: 70px;
}

.headerContainer a {
  text-decoration: none;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 11px;
  font-weight: 550;
  font-style: normal;
}

.headspan {
  margin: 15px;
}

.dateHolder {
  margin-right: 5px;
}

.todoIsExpired {
  color: rgb(245, 10, 10);
  font-size: larger;
  text-shadow: 1px 1px 2px rgb(250, 246, 246), 0 0 1em red;
}

/* input for new todo*/
.input {
  width: 70%;
  margin: 0 15px 15px 0;
}

.inputWeatherWrap {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 15px;
}

.inputWeatherWrap button {
  max-width: 700px;
  border-radius: 5px;
  border: solid black 1px;
  width: 80px;
}

.inputWeather{
  width: 500px;
  border-radius: 5px;
  border: solid black 1px;
  margin-right: 5px;
}

.CitiesWrapper {
  max-width: 800px;
  margin: 0 auto;
}

.oneCityWeather {
  display: inline-block;
  padding: 5px;
  margin: 10px 5px;
  min-width: 230px;
  height: 130px;
  background: radial-gradient(circle closest-corner at 50px 50px, #fff, rgb(231, 55, 187))
}

@media (max-width: 530px){
  .oneCityWeather {
    width: 90%;
  }
}

@media (min-width: 530px) and (max-width: 850px){
  .oneCityWeather {
    width: 45%;
  }
}

.cityName {
  padding: 5px 5px 5px 15px;
  display: flex;
  justify-content: space-between;
  font-weight:bold ;
}

.delCity {
  border: none;
  background-color:rgb(231, 55, 187);
}

.infWrapper {
  height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.inf {
  color: white;
  margin: 2px;
  width: fit-content;
}

.temperature {
  font-size: small;
}

.weather {
  font-size: large;
}

.contentWithoutFoot{
  min-height: calc(100vh - 58px);
}

.foot{
  padding: 20px;
  background-color: rgb(226, 226, 226);
  color: rgb(112, 111, 111);
  font-size: small;
  max-width: 800px;
  margin: 0 auto;
}