.definePlayer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  width: 176px;
  
  font-family: Helvetica;
  color: #000000;
  font-weight: 400px;
  font-size: 36px;
  font-style: normal;
  text-decoration: none;
}

.switcherWrapper {
  width: 94px;
  height: 21px;
}

.switcherLine {
  background-color: #D8D8D8;
  height: 5px;
  margin-top: 8px;
}

.switcherPoint {
  width: 21px;
  height: 21px;
  background-color: #D8D8D8;
  border-radius: 10px;
  position: relative;
  top: -8px;
}

.switchToRight {
  left: 73px;
}